<div>
   <div class="row toolbar" ng-controller="UserAdminController">
 	       <h3>
 	         <span class="glyphicon glyphicon-user"></span>
 	         Login
 	       </h3>
	   	   <a href="#/passwordreset"><span class="glyphicon glyphicon-refresh"></span> Reset password</a>
	   	   <a href="" ng-click="openNewUserRequestWindow()"><span class="glyphicon glyphicon-pencil"></span> Sign up</a>  
   </div>
   <div class="row" ng-controller="LoginController">
	   	<form class="form-horizontal col-lg-offset-5 col-lg-2" name="loginForm">
		    <span class="label label-danger" ng-show="message != null">{{message}}</span>
			<fieldset>
				<div class="form-group">
					<label class="control-label" for="usernameEntry">Username</label>
					<input class="form-control" id="usernameEntry" ng-model="user.username" class="form-control input-lg" required type="text"/>
				</div>

				<div class="form-group">
					<label class="control-label" for="passwordEntry">Password</label>
					<input class="form-control" id="passwordEntry" ng-model="user.password" class="form-control input-lg" required type="password"/>
				</div>

				<div>
					<button class="btn btn-primary right" ng-click="submitCreds()" ng-disabled="loginForm.$invalid">Submit</button>
				</div>

			</fieldset>
		</form>
   </div>
</div>
