<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
 
<hibernate-configuration>
    <session-factory>
        <mapping class="hci.biominer.model.Genotype"/>
        <mapping class="hci.biominer.model.GeneAnnotation"/>
        <mapping class="hci.biominer.model.Organism"/>
        <mapping class="hci.biominer.model.OrganismBuild"/>
        <mapping class="hci.biominer.model.AnalysisType"/>
        <mapping class="hci.biominer.model.SampleType"/>
        <mapping class="hci.biominer.model.SamplePrep"/>
        <mapping class="hci.biominer.model.SampleCondition"/>
        <mapping class="hci.biominer.model.SampleSource"/>
        <mapping class="hci.biominer.model.FileUpload"/>
        <mapping class="hci.biominer.model.DataTrack"/>
        <mapping class="hci.biominer.model.Sample"/>
        <mapping class="hci.biominer.model.Analysis"/>
        <mapping class="hci.biominer.model.Project"/>
        <mapping class="hci.biominer.model.access.Lab"/>
        <mapping class="hci.biominer.model.access.User"/>
        <mapping class="hci.biominer.model.access.Institute"/>
        <mapping class="hci.biominer.model.access.Role"/>
        <mapping class="hci.biominer.model.access.Permission"/>
        <mapping class="hci.biominer.model.BiominerGene"/>
        <mapping class="hci.biominer.model.ExternalGene"/>
    </session-factory>
</hibernate-configuration>