<!DOCTYPE html>
<html>

<div class="modal-header">
	<h4>Liftover Selection</h4>
</div>
<div class="modal-body">
	<form class="form-horizontal" name="liftoverForm">
	    <p>Please select the destination build</p>
		<fieldset>
			<div class="form-group">
			  <label class="col-md-2 control-label">Destination Build</label>
			  <div class="col-md-10">
			    <select width="100" data-placeholder="Select build..." ng-model="liftover"  name="destBuildEntry"
			    ng-options="l as l.destBuild.name for l in liftoverList" chosen class="form-control chosen-select" required>
			    <option value=""></option> 
			    </select>
			  </div>
			</div>
		</fieldset>
	</form>
</div>
<div class="modal-footer">
     <button class="btn btn-primary" ng-click="liftoverOK()" ng-disabled="liftoverForm.$invalid">Submit</button>
     <button class="btn btn-warning" ng-click="liftoverCancel()">Cancel</button>
</div>

</html>