<form name="queryForm" class="form-horizontal" >
<fieldset>

	<!--                 -->
    <!--  Toolbar        -->
 	<!--                 -->
   	<div class="row toolbar" >
  	       <h3>
   	       		<span class="glyphicon glyphicon-zoom-in"></span> Query
		   </h3>
		   <button class="btn btn-primary" ng-disabled="queryForm.$invalid" ng-click="runQuery()">
		   		<span class="glyphicon glyphicon-play"></span > Run
		   </button>
		   <button class="btn" ng-click="runQuery()">
   				<span class="glyphicon glyphicon-remove"></span> Clear
		   </button>
	</div>
		

	 			
	<!--                 -->
    <!--  Main panel     -->
 	<!--                 -->
	<div class="row">
	
	
     	<!--                         -->
        <!--  Query (sidebar) Panel  -->
     	<!--                         -->
     	<div class="col-lg-5">  
 

     	
            <div class="panel panel-default">
				<div class="panel-heading">Compose Query</div>
	  	   
				
           	 	<div class="panel-body">
            	 	
           	 		<h4>What would you like to find?</h4>
           	 			
           	 		<!-- What type of result do you want back? -->
           	 		<div class="form-group" style="padding-top: 0px">
					  <div class="col-md-12"> 
					    <label ng-repeat="(key,name) in mapResultType" class="radio-inline" for="radio-rt-{{ key }}">
					      <input name="result-type"
					      		 id="radio-rt-{{ key }}"
					      		 required
					      	     ng-model="$parent.codeResultType" 
					      	     ng-value="key" 
					      	     ng-change="pickResultType()"
					      	     type="radio">{{ name }}
					    </label> 
					  </div>
					</div>

  
           	 		<h4 style="padding-top: 20px">What Genome?</h4>
					<div class="form-group" >
		  				<div class="col-md-12">
		    				<select name="gb-select"
		    				        ng-model="genomeBuild" 
		    				        required
		    				        ng-options="gb.name group by gb.species  for gb in genomeBuildList" 
		    				        class="form-control">
		    				        <option value="">Select genome build</option>
		    				</select>
		  				</div>
					</div>
					
  
           	 		<h4 style="padding-top: 20px">What Datasets?</h4>
           	 		
           	 		<!-- What data sets? -->
					<div class="form-group">
					  <div class="col-md-12">
					    <label ng-repeat="analysisType in analysisTypeCheckedList" ng-class="analysisType.class" ng-disabled="!analysisType.show" class="checkbox-inline" for="checkbox-at-{{ analysisType.codeAnalysisType }}">
					      <input name="checkbox-at-{{ analysisType.codeAnalysisType }}" ng-required="!someAnalysisTypeChecked()" ng-disabled="!analysisType.show"  id="checkbox-at-{{ analysisType.codeAnalysisType }}" ng-model="analysisType.selected" type="checkbox" >
					      {{ analysisType.name }}
					    </label>
					  </div>
					</div>
					
					
					<!--  Lab -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Labs</label>  
					    <select data-placeholder="Choose labs..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Analysis Project -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Analysis Projects</label>  
					    <select data-placeholder="Choose analysis projects..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Analysis  -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Individual Analysis</label>  
					    <select data-placeholder="Choose individual analysis..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Sample Source  -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Sample Source</label>  
					    <select data-placeholder="Choose sample source..." multiple class="col-md-7 chosen-select" ng-model="selectedSampleSources" chosen="sampleSourceList" ng-options="sampleSource.name for sampleSource in sampleSourceList"  ></select>
					</div>



          	 		
          	 		
          	 		<!-- Interest or Don't Intersect -->
           	 		<div class="form-group" style="padding-top: 20px;">
					  <div class="col-md-12"> 
						<h4 style="display: inline;margin-right: 10px">That</h4>
						
						<div class="btn-group">
   					     	<label class="btn btn-toggle" ng-model="isIntersect" btn-radio="'true'" >Intersect</label>
        					<label class="btn btn-toggle" ng-model="isIntersect" btn-radio="'false'">Don't Intersect</label>
    					</div>
					  </div>
					</div>
					
					
          	 		<!-- Regions-->
					<div class="form-group"  ng-show="isIntersect">
					    <div class="col-md-2" style="padding-right: 0px;">
					    	<div class="checkbox" style="display: inline; padding-left: 0px;">
						   		<label for="radios-region">
							    	<input name="radio-region" ng-model="intersectionTarget" value="REGION" type="radio"> Regions
						   		</label>
							</div>
					    </div>
					    <div class="col-md-7"  ng-show="intersectionTarget == 'REGION'" style="padding-left: 1px; padding-right: 0px;">
				    		<input type="text" ng-model="regions" style="display: inline;" class="form-control" placeholder="chr1:4500-8900">
					    </div>
				    	<div class="col-md-3"  ng-show="intersectionTarget == 'REGION'" style="padding-left: 1px; padding-right: 0px;">
					    	&nbsp;&nbsp;+/-
					    	<input type="text" ng-model="regionMargins" style="display: inline; max-width: 60px;" class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					    
					</div>
							 
          	 		<!-- Genes-->
					<div class="form-group" ng-show="isGeneBasedQuery">
						<div class="col-md-2" style="padding-right: 0px;">
							<div class="checkbox" style="display: inline; padding-left: 0px;">
						   		<label for="radios-region">
							    	<input name="radio-region"  ng-model="intersectionTarget" value="GENE" type="radio"> Genes
						   		</label>
							</div>
						</div>
					 	<div class="col-md-7" ng-show="intersectionTarget == 'GENE'" style="padding-left: 1px; padding-right: 0px;">
				    		<input type="text" ng-model="genes" style="display: inline;" class="form-control" placeholder="gene, gene, ...">
					    </div>
				    	<div class="col-md-3"  ng-show="intersectionTarget == 'GENE'"  style="padding-left: 1px; padding-right: 0px;">
					    	&nbsp;&nbsp;+/-
					    	<input type="text" ng-model="geneMargins" style="display: inline; max-width: 60px;"class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					</div>

         	 		<!-- Genes annotations-->
					<div class="form-group" ng-show="isGeneBasedQuery">
					 	<div class="col-md-2" style="padding-right: 0px;">
					    </div>
					    <div class="col-md-7" ng-show="intersectionTarget == 'GENE'" style="padding-left: 1px; padding-right: 0px;">
						    <select data-placeholder="Choose gene annotations..."   multiple class="col-md-12 chosen-select" ng-model="selectedGeneAnnotations" chosen="geneAnnotationList" ng-options="geneAnnotation.name for geneAnnotation in geneAnnotationList"  ></select>
					    </div>
				    	<div class="col-md-3" ng-show="intersectionTarget == 'GENE'" style="padding-left: 1px; padding-right: 0px;">
							&nbsp;&nbsp;+/-
					    	<input type="text" ng-model="geneAnnotationMargins" style="display: inline; max-width: 60px;"class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					</div>
					
					
					<!--  Thresholds -->
           	 		<h4  ng-show="isThresholdBasedQuery" style="padding-top: 20px" >That Exceed these Thresholds</h4>
           	 		 
           	 		 <!-- FDR-->
					<div class="form-group" ng-show="isThresholdBasedQuery">
					  <label class="col-md-3 control-label" >FDR</label>  
					  <div class="col-md-6">
					  	<div class="btn-group">
   					     	<label class="btn btn-toggle" ng-model="codeThresholdFDRComparison" btn-radio="'>'" >&gt;</label>
        					<label class="btn btn-toggle" ng-model="codeThresholdFDRComparison" btn-radio="'<'" >&lt;</label>
    					</div>
						<input id="textinput" ng-model="thresholdFDR" style="display: inline; max-width: 60px; margin-left: 10px;" name="textinput" placeholder=".05" class="form-control input-md" type="text">
					  </div>
					</div>        
					
           	 		
           	 		 <!-- Log2 Ratio-->
					<div class="form-group" ng-show="isThresholdBasedQuery">
					  <label class="col-md-3 control-label">Log2Ratio</label>  
					  <div class="col-md-6">
					  	<div class="btn-group">
   					     	<label class="btn btn-toggle" ng-model="codeThresholdLog2RatioComparison" btn-radio="'> abs'" >&gt; abs</label>
   					     	<label class="btn btn-toggle" ng-model="codeThresholdLog2RatioComparison" btn-radio="'>'"     >&gt;</label>
        					<label class="btn btn-toggle" ng-model="codeThresholdLog2RatioComparison" btn-radio="'<'"     >&lt;</label>
    					</div>
					    
						<input id="textinput" ng-model="thresholdLog2Ratio" style="display: inline; max-width: 60px; margin-left:10px;" name="textinput" placeholder="1.0" class="form-control input-md" type="text">
					  </div>
					</div>        

					
					
					<!--  Variant Criteria -->
           	 		<h4  ng-hide="isThresholdBasedQuery" style="padding-top: 20px" >That Meet Variant Criteria</h4>

					<!-- Variant qual filter -->
					<div class="form-group" ng-hide="isThresholdBasedQuery">
					  <label class="col-md-3 control-label" for="variant-filter-radios">Qual</label>
					  <div class="col-md-6">
					  	<div class="btn-group">
   					     	<label class="btn btn-toggle" ng-model="codeThresholdVariantQualComparison" btn-radio="'>'" >&gt;</label>
        					<label class="btn btn-toggle" ng-model="codeThresholdVariantQualComparison" btn-radio="'<'" >&lt;</label>
    					</div>
						<input id="textinput" ng-model="thresholdVariantQual" style="display: inline; max-width: 60px; margin-left: 10px;" name="textinput" placeholder="20" class="form-control input-md" type="text">
					  </div>
					</div>

					
					<!-- Variant pass/nopass filter -->
					<div class="form-group" ng-hide="isThresholdBasedQuery">
					  <label class="col-md-3 control-label" for="variant-filter-radios">Filter</label>
					  <div class="col-md-6"> 
					    <label class="radio-inline" for="variant-filter-radios-0">
					      <input name="variant-filter-radios" id="variant-filter-radios-0" ng-model="codeVariantFilterPass" value="PASS" checked="checked" type="radio">
					      PASS
					    </label> 
					    <label class="radio-inline" for="variant-filter-radios-1">
					      <input name="variant-filter-radios" id="variant-filter-radios-1" ng-model="codeVariantFilterPass"  value="NOPASS" type="radio">
					      Not PASS
					    </label>
					  </div>
					</div>
					
					<!-- Variant type -->
					<div class="form-group" ng-hide="isThresholdBasedQuery">
					  <label class="col-md-3 control-label" for="variant-type-radios">Type</label>
					  <div class="col-md-6"> 
					    <label class="radio-inline" for="variant-type-radios-0">
					      <input name="variant-type-radios" id="variant-type-radios-0" ng-model="codeVariantFilterType" value="SNV" checked="checked" type="radio">
					      SNV
					    </label> 
					    <label class="radio-inline" for="variant-type-radios-1">
					      <input name="variant-type-radios" id="variant-type-radios-1"  ng-model="codeVariantFilterType" value="INDEL" type="radio">
					      INDEL
					    </label>
					  </div>
					</div>
					
        	 		<!-- Variant Genotype-->
					<div class="form-group" ng-hide="isThresholdBasedQuery">
					 	<label class="col-md-3 control-label" for="genotypes">Genotype</label>
					    <div class="col-md-9">
						    <select name="genotypes" data-placeholder="Choose genotypes..."   multiple class="col-md-12 chosen-select" ng-model="selectedGenotypes" chosen="genotypeList" ng-options="genotype.name for genotype in genotypeList"  ></select>
					    </div>
					</div>

					
					
          	 		
 				</div> <!-- end of panel body -->
			</div> <!--  end of panel -->
     	</div> <!--  end of sidebar  -->
     	
     	
     	<!--                 -->
        <!--  Results Panel  -->
     	<!--                 -->
		<div class="col-lg-7" >
			
			<div class=" panel panel-default">
			
				<div class="panel-heading">Results</div>
				
				<div class="panel-body">
				
				<!-- The query summary -->
				<span class="well-querysum" ng-repeat="row in querySummary">{{ row }}</span>
				
			</div>
		
		</div> 
		
	</div>  <!-- end of row (main panel) -->

</fieldset>
</form>
