<form class="form-horizontal">
<fieldset>

	<!--                 -->
    <!--  Toolbar        -->
 	<!--                 -->
   	<div class="row toolbar" >
  	       <h3>
   	       <span class="glyphicon glyphicon-zoom-in"></span> Query
		   </h3>
		   <a ng-click="runQuery()"><span class="glyphicon glyphicon-play"></span >Run</a>
		   <a><span class="glyphicon glyphicon-remove"></span>Clear</a>
	</div>
		

	 			
	<!--                 -->
    <!--  Main panel     -->
 	<!--                 -->
	<div class="row">
	
	
     	<!--                         -->
        <!--  Query (sidebar) Panel  -->
     	<!--                         -->
     	<div class="col-lg-5">  
 

     	
            <div class="panel panel-default">
				<div class="panel-heading">Compose Query</div>
	  	   
				
           	 	<div class="panel-body">
            	 	
           	 		<h4>What would you like to find?</h4>
           	 			
           	 		<!-- What type of result do you want back? -->
           	 		<div class="form-group" style="padding-top: 0px">
					  <div class="col-md-12"> 
					    <label ng-repeat="(key,name) in mapResultType" class="radio-inline" for="radio-rt-{{ key }}">
					      <input 
					      		 id="radio-rt-{{ key }}"
					      	     ng-model="$parent.codeResultType" 
					      	     ng-value="key" 
					      	     type="radio">{{ name }}
					    </label> 
					  </div>
					</div>

  
           	 		<h4 style="padding-top: 20px">What Genome?</h4>
					<div class="form-group">
		  				<div class="col-md-12">
		    				<select id="select_build" 
		    				        ng-model="genomeBuild" 
		    				        ng-options="gb.name  group by gb.species for gb in genomeBuildList" 
		    				        class="form-control">
		    				</select>
		  				</div>
					</div>

           	 		
  
           	 		<h4 style="padding-top: 20px">What Datasets?</h4>
           	 		
           	 		<!-- What data sets? -->
					<div class="form-group">
					  <div class="col-md-12">
					    <label ng-repeat="analysisType in analysisTypeList" class="checkbox-inline" for="checkbox-at-{{ analysisType.codeAnalysisType }}">
					      <input name="checkbox-at-{{ analysisType.codeAnalysisType }}" id="checkbox-at-{{ analysisType.codeAnalysisType }}" ng-value="analysisType.codeAnalysisType" ng-model="checkedAnalysisTypes[$index]" type="checkbox" >
					      {{ analysisType.name }}
					    </label>
					  </div>
					</div>
					
					
					<!--  Lab -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Labs</label>  
					    <select data-placeholder="Choose labs..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Analysis Project -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Analysis Projects</label>  
					    <select data-placeholder="Choose analysis projects..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Analysis  -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Individual Analysis</label>  
					    <select data-placeholder="Choose individual analysis..." multiple class="col-md-7 chosen-select" ng-model="selectedLabs" chosen="labList" ng-options="lab.name for lab in labList"  ></select>
					</div>
					
					<!--  Sample Source  -->
					<div class="form-group">
						<label class="col-md-4 control-label" for=""labEntry">Sample Source</label>  
					    <select data-placeholder="Choose sample source..." multiple class="col-md-7 chosen-select" ng-model="sampleSource" chosen="sampleSourceList" ng-options="sampleSource.name for sampleSource in sampleSourceList"  ></select>
					</div>



          	 		
          	 		
          	 		<!-- Interest or Don't Intersect -->
           	 		<div class="form-group" style="padding-top: 20px;">
					  <div class="col-md-12"> 
						<h4 style="display: inline;margin-right: 10px">That</h4>
					    <label style="padding-top:0px;" class="radio-inline" for="intersect-radios">
					      <input name="radios" id="intersect" value="1" checked="checked" type="radio">Intersect
					    </label> 
					    <label style="padding-top:0px;" class="radio-inline" for="intersect-radios">
					      <input name="radios" id="dont_intersect" value="2" type="radio">Don't Intersect
					    </label> 
					  </div>
					</div>
					
					
          	 		<!-- Regions-->
					<div class="form-group">
					    <div class="col-md-2">
					    	<div class="checkbox" style="display: inline; padding-left: 0px;">
						   		<label for="radios-region">
							    	<input name="radio-region" value="1" type="radio"> Regions
						   		</label>
							</div>
					    </div>
					    <div class="col-md-7">
				    		<input type="text" style="display: inline;" class="form-control" placeholder="chr1:4500-8900">
					    </div>
				    	<div class="col-md-3">
					    	&nbsp;&nbsp;+/-
					    	<input type="text" style="display: inline; max-width: 60px;" class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					    
					</div>
							 
          	 		<!-- Genes-->
					<div class="form-group">
						<div class="col-md-2">
							<div class="checkbox" style="display: inline; padding-left: 0px;">
						   		<label for="radios-region">
							    	<input name="radio-region" value="2" type="radio"> Genes
						   		</label>
							</div>
						</div>
					 	<div class="col-md-7">
				    		<input type="text" style="display: inline;" class="form-control" placeholder="gene, gene, ...">
					    </div>
				    	<div class="col-md-3">
					    	&nbsp;&nbsp;+/-
					    	<input type="text" style="display: inline; max-width: 60px;"class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					</div>

         	 		<!-- Genes annotations-->
					<div class="form-group">
					 	<div class="col-md-2">
					    </div>
					    <div class="col-md-7">
						    <select data-placeholder="Choose gene annotations..."   multiple class="col-md-12 chosen-select" ng-model="geneAnnotations" chosen="geneAnnotationList" ng-options="geneAnnotation.name for geneAnnotation in geneAnnotationList"  ></select>
					    </div>
				    	<div class="col-md-3">
							&nbsp;&nbsp;+/-
					    	<input type="text" style="display: inline; max-width: 60px;"class="form-control" placeholder="1000"/> 
					    	bp
				    	</div>
					</div>
					
					
					<!--  Thresholds -->
           	 		<h4 style="padding-top: 20px">That Exceed these Thresholds</h4>
           	 		 
           	 		 <!-- FDR-->
					<div class="form-group">
					  <label class="col-md-3 control-label" >FDR</label>  
					  <div class="col-md-6">
						<label class="radio-inline" for="radios-0">
					    <input name="fdt_radios" id="fdr_radio_1" value="1" checked="checked" type="radio">
					      > abs
					    </label> 
					    <label class="radio-inline" for="radios-1">
					      <input name="fdr_radios" id="fdr_radio_2" value="2" type="radio">
					      >
					    </label> 
					    <label class="radio-inline" for="radios-2">
					      <input name="fdr_radios" id="fdt_radio_3" value="3" type="radio">
					      <
					    </label> 
						<input id="textinput" style="display: inline; max-width: 60px; margin-left: 10px;" name="textinput" placeholder="" class="form-control input-md" type="text">
					  </div>
					</div>        
					
           	 		
           	 		 <!-- Log2 Ratio-->
					<div class="form-group">
					  <label class="col-md-3 control-label">Log2Ratio</label>  
					  <div class="col-md-6">
						<label class="radio-inline" for="radios-0">
					    <input name="log2_radios" id="radios-0" value="1" checked="checked" type="radio">
					      > abs
					    </label> 
					    <label class="radio-inline" for="radios-1">
					      <input name="log2_radios" id="radios-1" value="2" type="radio">
					      >
					    </label> 
					    <label class="radio-inline" for="radios-2">
					      <input name="log2_radios" id="radios-2" value="3" type="radio">
					      <
					    </label> 
					    
						<input id="textinput" style="display: inline; max-width: 60px; margin-left:10px;" name="textinput" placeholder="" class="form-control input-md" type="text">
					  </div>
					</div>        

					
					<!-- Variant filter -->
					<div class="form-group">
					  <label class="col-md-3 control-label" for="variant-filter-radios">Variant Filter</label>
					  <div class="col-md-6"> 
					    <label class="radio-inline" for="variant-filter-radios-0">
					      <input name="variant-filter-radios" id="variant-filter-radios-0" value="pass" checked="checked" type="radio">
					      Pass
					    </label> 
					    <label class="radio-inline" for="variant-filter-radios-1">
					      <input name="variant-filter-radios" id="variant-filter-radios-1" value="nopass" type="radio">
					      No- Pass
					    </label>
					  </div>
					</div>
					
					<!-- Variant type -->
					<div class="form-group">
					  <label class="col-md-3 control-label" for="variant-type-radios">Variant Type</label>
					  <div class="col-md-6"> 
					    <label class="radio-inline" for="variant-type-radios-0">
					      <input name="variant-type-radios" id="variant-type-radios-0" value="1" checked="checked" type="radio">
					      SNV
					    </label> 
					    <label class="radio-inline" for="variant-type-radios-1">
					      <input name="variant-type-radios" id="variant-type-radios-1" value="2" type="radio">
					      INDEL
					    </label>
					  </div>
					</div>
					
        	 		<!-- Variant Genotype-->
					<div class="form-group">
					 	<label class="col-md-3 control-label" for="genotypes">Genotype</label>
					    <div class="col-md-9">
						    <select name="genotypes" data-placeholder="Choose genotypes..."   multiple class="col-md-12 chosen-select" ng-model="genotypes" chosen="genotypeList" ng-options="genotype.name for genotype in genotypeList"  ></select>
					    </div>
					</div>

					
					
          	 		
 				</div> <!-- end of panel body -->
			</div> <!--  end of panel -->
     	</div> <!--  end of sidebar  -->
     	
     	
     	<!--                 -->
        <!--  Results Panel  -->
     	<!--                 -->
		<div class="col-lg-7" >
			
			<div class=" panel panel-default">
			
				<div class="panel-heading">Results</div>
				
				<div class="panel-body">
				
				<!-- The query summary -->
				<div>
					<span class="alert alert-success" style="padding: 4px; margin-left: 10px" ng-repeat="queryElement in querySummary">{{ queryElement }}</span>
				</div>
				
				
				</div>
			</div>
		
		</div> 
		
	</div>  <!-- end of row (main panel) -->
	
</fieldset>
</form>
