
<div>
<!-- Users tool bar -->
 <div class="row toolbar" ng-show="currentTab == 0" >
	   <span class="page-header-bm">
	 	   <span class="glyphicon glyphicon-cog"></span>
	        Users and Labs
 	   </span>

 
   		<a ng-click="openNewUserWindow()"  href="#/useradmin">
  				<span class="glyphicon glyphicon-plus"></span> Add User
		</a>
      

		<a ng-click="confirmUserDelete()"  href="#/useradmin">
 		 	<span class="glyphicon glyphicon-minus"></span> Delete User
		</a>
		
		<label for="labSelect">Lab </label>
		<select id="labSelect" ng-model="selectedLab"  ng-options="lab.last for lab in labs" >
			<option value=""></option>
		</select>
						
	    <div class="form-group right">
	  		 <label for="search">Filter Users </label>	
			 <input id="search" ng-model="userQuery">
	    </div>
</div>


<!-- Lab tool bar -->
<div class="row toolbar" ng-show="currentTab == 1" >
     	<span class="page-header-bm">
     		<span class="glyphicon glyphicon-cog"></span>
     		Users and Labs
     	</span>
     		
		<a ng-click="openNewLabWindow()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-plus"></span>Add Lab
		</a>
		
		<a ng-click="confirmLabDelete()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-minus"></span>Delete lab
		</a>
					
		<div class="form-group right">
			<label for="search">Filter Labs </label>	
			<input id="search" ng-model="labQuery">
	    </div>
</div>

<!-- Genome tool bar -->
<div class="row toolbar" ng-show="currentTab == 2" >
     	<span class="page-header-bm">
     		<span class="glyphicon glyphicon-cog"></span>
     		Users and Labs
     	</span>
     		
		<a ng-click="openNewOrganismWindow()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-plus"></span>Add Organism
		</a>
		
		<a ng-click="openNewBuildWindow()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-plus"></span>Add Organism Build
		</a>
		
		<a ng-click="confirmOrganismDelete()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-minus"></span>Delete Organism Build
		</a>
				
		<div class="form-group right">
	  		 <label for="search">Filter Genome </label>	
			 <input id="search" ng-model="genomeQuery">
	    </div>
</div>

<!-- TF tool bar -->
<div class="row toolbar" ng-show="currentTab == 3" >
     	<span class="page-header-bm">
     		<span class="glyphicon glyphicon-cog"></span>
     		Users and Labs
     	</span>
     		
		<a ng-click="addTfFile()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-plus"></span>Add Global Interval
		</a>
		
		<div class="form-group right">
	  		 <label for="search">Filter Interval </label>	
			 <input id="search" ng-model="intervalQuery">
	    </div>
</div>

<!-- ID Conversion Bar -->
<div class="row toolbar" ng-show="currentTab == 4" >
     	<span class="page-header-bm">
     		<span class="glyphicon glyphicon-cog"></span>
     		Users and Labs
     	</span>
     		
		<a ng-click="addConversionFile()" href="#/useradmin">
 		 	<span class="glyphicon glyphicon-plus"></span>Add Ensembl ID Conversion Relationship
		</a>
		
		<div class="form-group right">
	  		 <label for="search">Filter Relationship </label>	
			 <input id="search" ng-model="relationshipQuery">
	    </div>
</div>

<div class="row">	
	<div class="panel panel-default col-lg-12">
	  <div class="panel-body" style="padding-top: 10px;">	
	    <uib-tabset active="currentTab">
	     	<uib-tab heading="Users">
	     		<div>
			     	<table class="table" id="userTable" >
			     	    <thead>
					      <tr>
					        <th ng-click="selectAllUsersChanged()">Selected</th>
					        <th ng-click="userOrderByField='first'; userReverseSort=!userReverseSort">First Name</th>
					        <th ng-click="userOrderByField='last'; userReverseSort=!userReverseSort">Last Name</th>
					        <th ng-click="userOrderByField='username'; userReverseSort=!userReverseSort">Username</th>
					        <th ng-click="userOrderByField='email'; userReverseSort=!userReverseSort">Email Address</th>
					        <th>Admin</th>
					        <th ng-click="userOrderByField='phone'; userReverseSort=!userReverseSort">Phone Number</th>
					        <th>Labs</th>
					        <th>Institutions</th>
					      </tr>
					    </thead>
					    <tbody>
				         	<tr data-ng-repeat="user in selectedUsers | filter:userQuery | orderBy:userOrderByField:userReverseSort | startFrom:userCurrentPage*userLimit | limitTo:userLimit " ng-dblclick="openEditUserWindow(user)">
				         	    <td><input ng-model=user.selected type="checkbox"/></td>
				             	<td>{{user.first}}</td>
				             	<td>{{user.last}}</td>
				             	<td>{{user.username}}</td>
				             	<td>{{user.email}}</td>
				             	<td><span class="glyphicon glyphicon-wrench" ng-show="user.admin"></span></td>
				             	<td>{{user.phone | displayPhone}}</td> 
				             	<td><span ng-repeat="l in user.labs">{{l.last}}{{$last ? ' Lab' : ', '}}</span></td>
				             	<td><span ng-repeat="i in user.institutes">{{i.name}}{{$last ? '' : ', '}}</span></td>
				             	<td ng-show="false">{{user.idUser}}</td>
				         	</tr>
			         	</tbody>
			    	</table>
		    	</div>
		    	<div class="row show-grid">
		    			<button ng-disabled="userCurrentPage == 0" ng-click="userCurrentPage=userCurrentPage-1" class="btn btn-mini col-lg-1"><span class="glyphicon glyphicon-chevron-left"></span> </button>
		    			<div class="center col-lg-10">
		    			    <div class="row">
			    			    <select ng-model="userLimit" class="center">
			 		     	    	<option value=5>Show 5</option>
			 		     	    	<option value=10>Show 10</option>
			 		     	    	<option value=25>Show 25</option>
			 		     	    	<option value=50>Show 50</option>
		 		     	    	</select>
		    			    </div>
		    			    <div class="row">
		    			    	<small class="center">{{userCurrentPage+1}}/{{ selectedUsers.length / userLimit | ceil}} </small>
		    			    </div>
		    			</div>
		    			
			    		<button ng-disabled="userCurrentPage >= selectedUsers.length/userLimit - 1" ng-click="userCurrentPage=userCurrentPage+1" class="btn btn-mini col-lg-1">
			    			<span class="glyphicon glyphicon-chevron-right"></span>
			    		</button>
	     	   	</div>
	     	</uib-tab>
	     	<uib-tab heading="Labs">
	     	    <div>
	     		<table class="table">
	     			<thead>
					      <tr>
					        <th>Selected</th>
					        <th ng-click="labOrderByField='first'; labReverseSort=!labReverseSort">First Name</th>
					        <th ng-click="labOrderByField='last'; labReverseSort=!labReverseSort">Last Name</th>
					        <th ng-click="labOrderByField='email'; labReverseSort=!labReverseSort">Email</th>
					        <th ng-click="labOrderByField='phone'; labReverseSort=!labReverseSort">Phone</th>
					        <th ng-click="labOrderByField='count'; labReverseSort=!labReverseSort">Member Count</th>
					      </tr>
				    </thead>
				    <tbody>				         	
				    	<tr data-ng-repeat="lab in labs | filter:labQuery | orderBy:labOrderByField:labReverseSort | startFrom:labCurrentPage*labLimit | limitTo:labLimit" ng-dblclick="openEditLabWindow(lab)">
				    	    <td><input ng-model=lab.selected type="checkbox" ng-disabled="lab.count != 0"/></td>
			             	<td>{{lab.first}}</td>
			             	<td>{{lab.last}}</td>
			             	<td>{{lab.email}}</td>
			             	<td>{{lab.phone | displayPhone}}</td>
			             	<td>{{lab.count}}</td>
		         		</tr>
				    </tbody>
		    	</table>
		    	</div>
		    	<div class="row show-grid">
		    			<button ng-disabled="labCurrentPage == 0" ng-click="labCurrentPage=labCurrentPage-1" class="btn btn-mini col-lg-1"><span class="glyphicon glyphicon-chevron-left"></span> </button>
		    			<div class="center col-lg-10">
		    			    <div class="row">
			    			    <select ng-model="labLimit" class="center">
			 		     	    	<option value=5>Show 5</option>
			 		     	    	<option value=10>Show 10</option>
			 		     	    	<option value=25>Show 25</option>
			 		     	    	<option value=50>Show 50</option>
		 		     	    	</select>
		    			    </div>
		    			    <div class="row">
		    			    	<small class="center">{{labCurrentPage+1}}/{{ (labs.length / labLimit) | ceil }}</small>
		    			    </div>
		    			</div>
			    		<button ng-disabled="labCurrentPage >= labs.length/labLimit - 1" ng-click="labCurrentPage=labCurrentPage+1" class="btn btn-mini col-lg-1">
			    			<span class="glyphicon glyphicon-chevron-right"></span>
			    		</button>
	     	   	</div>
	     	</uib-tab>
	     	<uib-tab heading="Organisms">
	     	   <div cg-busy="{promise:uploadGenomePromise,message:'Uploading Files',minDuration: 1000}">
	     	   <div cg-busy="{promise:uploadTranscriptPromise,message:'Uploading Files',minDuration: 1000}">
	     	   <div cg-busy="{promise:uploadAnnotationPromise,message:'Uploading Files',minDuration: 1000}">
	     	   <div cg-busy="{promise:parseAnnotationPromise,message:'Parsing Files',minDuration: 1000}">
	     	   <div cg-busy="{promise:deletePromise,message:'Deleting',minDuration: 1000}">
	     	   		
	     			
	     	   
		     	<table class="table " >
				    <thead>
				        <tr>
				            <th>Selected</th>
				            <th>Organism</th>
				            <th>Build Name</th>
				            <th>Transcript File</th>
				            <th></th>
				            <th>Genome File</th>
				            <th></th>
				            <th>Gene Alias File</th>
				            <th></th>
				            <th></th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="ob in organismBuildList | filter:genomeQuery" ng-mouseenter="showOrganismControls(ob)" ng-mouseleave="hideOrganismControls(ob)" >
				        	<td style="width: 10% "><input ng-model=ob.selected type="checkbox"/></td>	
				        	<td style="width: 12%;" ng-dblclick="openEditOrganismWindow(ob.organism.idOrganism)">{{ob.organism.idOrganism | lookupOrganism:organismList}}</td>
				            <td style="width: 12%;" ng-dblclick="openEditBuildWindow(ob)">
				            	{{ob.name}}
				            	<span class="glyphicon glyphicon-star" ng-show="(ob.transcriptFile != null && ob.genomeFile != null && ob.geneIdFile != null)"></span>
				            	<span class="glyphicon glyphicon-star-empty" ng-show="(ob.transcriptFile != null && ob.genomeFile != null && ob.geneIdFile == null)"></span>
				            </td>
				            <td style="width: 12%;">{{ob.transcriptFile}}</td>
				            <td style="width: 10%;" >
				                <div ng-show="ob.show">
					                <span class="btn btn-xs btn-primary fileinput-button" ng-show="ob.transcriptFile == null">
								        <i class="glyphicon glyphicon-plus"></i>
								        <input type="file" ng-file-select ng-file-change="addTranscriptFile($files, ob)"> 
							        </span>
							        <span class="btn btn-xs btn-warning fileinput-button" ng-show="ob.transcriptFile != null">
								        <i class="glyphicon glyphicon-repeat"></i>
								        <input type="file" ng-file-select ng-file-change="addTranscriptFile($files, ob)"> 
							        </span>
					                <button class="btn btn-xs btn-danger" ng-click="confirmOrganismFileDelete(ob,'transcripts')" ng-show="ob.transcriptFile != null">
					                 	<span class="glyphicon glyphicon-minus"></span>
					                </button>
				                
				                </div>
					            
				            </td>
				            <td style="width: 12%;">{{ob.genomeFile}}</td>
				            <td style="width: 10%;" >
				                <div ng-show="ob.show">
					                <span class="btn btn-xs btn-primary fileinput-button" ng-show="ob.genomeFile == null">
								        <i class="glyphicon glyphicon-plus"></i>
								        <input type="file" ng-file-select ng-file-change="addGenomeFile($files, ob)"> 
							        </span>
							        <span class="btn btn-xs btn-warning fileinput-button" ng-show="ob.genomeFile != null">
								        <i class="glyphicon glyphicon-repeat"></i>
								        <input type="file" ng-file-select ng-file-change="addGenomeFile($files, ob)"> 
							        </span>
					                <button class="btn btn-xs btn-danger" ng-click="confirmOrganismFileDelete(ob,'genome')" ng-show="ob.genomeFile != null">
					                 	<span class="glyphicon glyphicon-minus"></span>
					                </button>
				                
				                </div>
				            	
				            </td>
				            <td style="width: 12%;">{{ob.geneIdFile}}</td>
				            <td style="width: 10%;">
				                <div ng-show="ob.show">
					                <span class="btn btn-xs btn-primary fileinput-button" ng-show="ob.geneIdFile == null">
							        	<i class="glyphicon glyphicon-plus"></i>
							        	<input type="file" ng-file-select ng-file-change="addAnnotationFile($files, ob)"> 
							        </span>
							        <span class="btn btn-xs btn-warning fileinput-button" ng-show="ob.geneIdFile != null">
								        <i class="glyphicon glyphicon-repeat"></i>
								        <input type="file" ng-file-select ng-file-change="addAnnotationFile($files, ob)"> 
							        </span>
					                <button class="btn btn-xs btn-danger" ng-click="confirmOrganismFileDelete(ob,'annotations')" ng-show="ob.geneIdFile != null">
					                 	<span class="glyphicon glyphicon-minus"></span>
					                </button>

				                </div>
				            	
				            </td>   
				        </tr>
				    </tbody>
				</table>
			   </div>
			   </div> <!-- for cg-busy -->
			   </div> <!-- for cg-busy -->
			   </div> <!-- for cg-busy -->
			   </div> <!-- for cg-busy -->
	     	</uib-tab>
	        <uib-tab heading="Global Intervals">
	     	   <div cg-busy="{promise:uploadTfPromise,message:'Parsing Transcription Factor File',minDuration: 1000}">
	     	   <div cg-busy="{promise:addTfPromise,message:'Prepping JBrowse Repo',minDuration: 1000}">
		     	<table class="table" >
				    <thead>
				        <tr>
				            <th>Name</th>
				            <th>Description</th>
				            <th>File</th>
				            <th>Genome Build</th>
				            <th>Controls</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="tf in tfList | filter:intervalQuery" ng-mouseenter="showTfControls(tf)" ng-mouseleave="hideTfControls(tf)" >
				        	<td style="width: 20%" >{{tf.name}}</td>
				        	<td style="width: 30%" >{{tf.description}}</td>
				        	<td style="width: 20%" >{{tf.filename}}</td>
				        	<td style="width: 20%" >{{tf.organismBuild.name}}</td>
				        	<td style="width: 10%" >
				        	<div ng-show="tf.show">
				                <button class="btn btn-xs btn-danger table-button" ng-click="deleteTf(tf)" uib-tooltip="delete tf" data-toggle="tooltip" data-placement="top" title="remove">
				                 	<span class="glyphicon glyphicon-trash"></span>
				                </button>
			               </div>
			               </td>	
				        </tr>
				    </tbody>
				</table>
			   </div>
			   </div> <!-- for cg-busy -->
	     	</uib-tab>
	        <uib-tab heading="EnsemblID Conversion">
	     	   <div cg-busy="{promise:uploadConvPromise,message:'Parsing Homology file',minDuration: 1000}">
	     	   <div cg-busy="{promise:parseConvPromise,message:'Uploading Homology file',minDuration: 1000}">
		     	<table class="table" >
				    <thead>
				        <tr>
				            <th>Filename</th>
				            <th>Source Build</th>
				            <th>Dest Build</th>
				            <th>Controls</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="conv in conversionList | filter:intervalQuery" ng-mouseenter="showConversionControls(conv)" ng-mouseleave="hideConversionControls(conv)" >
				        	<td style="width: 20%" >{{conv.conversionFile}}</td>
				        	<td style="width: 20%" >{{conv.sourceBuild.name}}</td>
				        	<td style="width: 20%" >{{conv.destBuild.name}}</td>
				        	<td style="width: 10%" >
				        	<div ng-show="conv.show">
				                <button class="btn btn-xs btn-danger table-button" ng-click="deleteConversion(conv)" uib-tooltip="delete conversion" data-toggle="tooltip" data-placement="top" title="remove">
				                 	<span class="glyphicon glyphicon-trash"></span>
				                </button>
			               </div>
			               </td>	
				        </tr>
				    </tbody>
				</table>
			   </div> <!-- for cg-busy -->
			   </div> <!-- for cg-busy -->
	     	</uib-tab>
	    </uib-tabset>
		</div> <!-- panel -->
	</div> <!-- panel -->
</div> <!-- row -->
</div> <!-- main -->

