
<div class="container-fluid">
   <div class="container-fluid">
   <h5>Project</h5>
	 <form class="form-horizontal" name="editProjectForm">
		<fieldset>
		   <div class="row">
		   
				<!-- Text input-->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="project_name">Name</label>  
				  <div class="col-md-6">
					  <input ng-show="projectEditMode" id="project_name" ng-model="editedProject.name" name="project_name" placeholder="name" class="form-control input-md" required="" type="text">
					  <input ng-hide="projectEditMode" ng-readonly="true" id="project_name" ng-model="project.name" name="project_name" placeholder="name" class="form-control input-md" type="text">
				  </div>
				</div>
				
				<!-- Textarea -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="project_description">Description</label>
				  <div class="col-md-4">                     
				    <textarea ng-show="projectEditMode" class="form-control" id="project_description" ng-model="editedProject.description" name="project_description"></textarea>
				  	<textarea ng-hide="projectEditMode" ng-readonly="true" class="form-control" id="project_description" ng-model="project.description" name="project_description"></textarea>
				  </div>
				</div>
				
				<div class="form-group">
				  <label class="col-md-4 control-label" for="project_urls">Data URLs</label>
				  <div class="col-md-4">                     
				    <textarea ng-show="projectEditMode" class="form-control" id="project_urls" ng-model="editedProject.dataUrls" name="project_urls"></textarea>
				    <textarea ng-hide="projectEditMode" ng-readonly="true" class="form-control" id="project_urls" ng-model="project.dataUrls" name="project_urls"></textarea>
				  </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="species_build">Species and Genome Build</label>
				  <div class="col-md-6">
				    <select ng-show="projectEditMode" id="species_build" ng-model="editedProject.organismBuild.idOrganismBuild"  ng-options="gb.idOrganismBuild as gb.name group by gb.organism.common for gb in organismBuildList" class="form-control" required/>
				    <select ng-hide="projectEditMode" ng-disabled="true" id="species_build" ng-model="project.organismBuild.idOrganismBuild"  ng-options="gb.idOrganismBuild as gb.name group by gb.organism.common for gb in organismBuildList" class="form-control" />
				  </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="lab">Lab</label>
				  	<div class="col-md-6" ng-show="projectEditMode">
		  		    	<select  data-placeholder="Choose labs..." ng-model="editedProject.labs" multiple chosen class="col-md-6 chosen-select" ng-options="lab as (lab.first + ' ' + lab.last + ' lab' ) for lab in labList track by lab.idLab" required/>
				    </div>
				    <div class="col-md-6" ng-hide="projectEditMode">
		  		    	<select ng-disabled="true" data-placeholder="Choose labs..." ng-model="project.labs" multiple chosen class="col-md-6 chosen-select" ng-options="lab as (lab.first + ' ' + lab.last + ' lab' ) for lab in labList track by lab.idLab"/>
				    </div>
				</div>
				
				<!-- Select Basic -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="lab">Institute</label>
				  	<div class="col-md-6" ng-show="projectEditMode">
		  		    	<select data-placeholder="Choose institutes..." ng-model="editedProject.institutes" multiple chosen class="col-md-6 chosen-select" ng-options="inst as inst.name for inst in instituteList track by inst.idInstitute" required/>
				    </div>
				    <div class="col-md-6" ng-hide="projectEditMode">
		  		    	<select ng-disabled="true" data-placeholder="Choose institutes..." ng-model="project.institutes" multiple chosen class="col-md-6 chosen-select" ng-options="inst as inst.name for inst in instituteList track by inst.idInstitute"/>
				    </div>
				</div>
				
				<!-- Multiple Radios (inline) -->
				<div class="form-group">
				  <label class="col-md-4 control-label" for="visibility">Visibility</label>
				  <div class="col-md-6" ng-show="projectEditMode"> 
				    <label class="radio-inline" ng-repeat="visibility in projectVisibilities">
				      <input name="visibility"  ng-value="visibility.enum" ng-model="editedProject.visibility" type="radio">
				         {{ visibility.name }}
				      </input>
				    </label> 
				  </div>
				  <div class="col-md-6" ng-hide="projectEditMode" > 
				    <label class="radio-inline" ng-repeat="visibility in projectVisibilities">
				      <input name="visibility"  ng-value="visibility.enum" ng-model="project.visibility" type="radio" ng-disabled="true">
				         {{ visibility.name }}
				      </input>
				    </label> 
				  </div>		  		  
				</div>
			</div>
			
			<!-- Button -->
			<div class="container-fluid">
				<div class="form-group">
				  <label class="control-label" for="save_analysis_project_button"></label>
				  <div >
				    <button id="save_analysis_project_button" name="save_analysis_project_button" class="btn btn-primary" ng-click="save()" ng-hide="!projectEditMode" ng-disabled="editProjectForm.$invalid">Save</button>
				    <button id="edit_analysis_project_button" name="edit_analysis_project_button" class="btn btn-primary" ng-click="edit()" ng-hide="projectEditMode">Edit</button>
				    <button id="cancel_analysis_project_button" name="cancel_analysis_project_button" class="btn btn-danger" ng-click="cancel()" ng-hide="!projectEditMode">Cancel</button>
				  </div>
				</div>
			</div>
			
					
		</fieldset>
	</form>
  </div>
<hr>
<h5>Samples</h5>
<ng:include src="'app/submit/samples.html'"></ng:include>		

	
<hr>
<h5>Data Tracks</h5>
<ng:include src="'app/submit/datatracks.html'"></ng:include>		

		
		
</div>