<div class="modal-header">
	<h4>Change Filenames</h4>
	<div>
		<span class="label label-default" ng-click="alertHover=!alertHover">Click for instructions..</span>
	</div>
	<div class="alert alert-info" ng-show="alertHover==true">
		<p><b>Instructions!</b> If you are not happy with the default parsed file names, please change them</p>
	</div>
</div>
<div class="modal-body" resize per="{{alertHover == true ? 60 : 70}}" ng-style="style()">
    <div class="form" name="filenameForm">
		<table class="table">
			<thead>
				<th style="width: 10%">Index</th>
				<th style="width: 40%">Imported file name</th>
				<th style="width: 40%">Parsed file name</th>
			</thead>
			<tbody ng-repeat="s in selected track by $index">
				<td>
					<span><span>{{$index+1}}</span></span>
				</td>
				<td>
					<span><span>{{s.file.name}}</span></span>
				</td>
				<td>
					<span ><input class="input form-control" type="text" name="parsedName" ng-model="s.outname"/></span>
					<span ng-show="s.usedExist" class="label label-danger">filename already in use</span>
					<span ng-show="s.usedNew" class="label label-danger">duplicate filename on form</span>
				</td>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-disabled="usedExist || usedNew" ng-click="ok()">Parse</button>
	<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div> 