<div class="container-fluid">
	<form class="form" name="sample_form">
		<fieldset>
			<div class="row" style="padding-top: 10px;">
				<div class="col-lg-3">
					<div class="form-group">
						<label class="control-label" for="sample_name">Name</label>  
						<input required id="sample_name" ng-model="sample.name" name="sample_name" placeholder="Sample name..." class="form-control input-md" required="" type="text">
					</div>
				</div> <!-- end col -->
				
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_type">Type</label>  
						<select required id="sample_type" placeholder="Choose sample type..." ng-model="sample.sampleType" ng-options="st as st.type for st in sampleTypeList track by st.idSampleType" class="form-control">
							<option value=""></option>
						</select>			
					</div>
				</div> <!-- end col -->
		
				<div class="col-lg-3">
					<div class="form-group">
						<label class="control-label" for="sample_prep">Prep Method  </label>
						<a ng-click="addNewPrep()" ng-show="sample.samplePrep.description == 'Add New'"><span class="glyphicon glyphicon-plus"></span>  </a>
						<a ng-click="sample.samplePrep = null; newSamplePrep.description = ''" ng-show="sample.samplePrep.description == 'Add New'"><span class="glyphicon glyphicon-remove"></span>  </a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample prep description" ng-show="sample.samplePrep.description == 'Add New'" class="form-control" ng-model="newSamplePrep.description"/>
						<select ng-hide="sample.samplePrep.description == 'Add New'" required id="sample_prep" placeholder="Choose prep method..." ng-model="sample.samplePrep" ng-disabled="!sample.sampleType.idSampleType" ng-options="sp as sp.description for sp in samplePrepList track by sp.idSamplePrep" class="form-control">
							<option value=""></option>
						</select>			
					</div>
				</div> <!-- end col -->
		
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="site">Source</label>
						<a ng-click="addNewSource()" ng-show="sample.sampleSource.source == 'Add New'"><span class="glyphicon glyphicon-plus"></span>  </a>
						<a ng-click="sample.sampleSource = null; newSampleSource.source = ''" ng-show="sample.sampleSource.source == 'Add New'"><span class="glyphicon glyphicon-remove"></span>  </a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample source" ng-show="sample.sampleSource.source == 'Add New'" class="form-control" ng-model="newSampleSource.source"/>
						 <select ng-hide="sample.sampleSource.source == 'Add New'" required id="site" placeholder="Choose sample source..." ng-model="sample.sampleSource" ng-options="source as source.source for source in sampleSourceList track by source.idSampleSource" class="form-control">
						      <option value=""></option>
						 </select>
					</div>
				
				</div> <!-- end col -->
		
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_group">Condition</label> 
						<a ng-click="addNewCondition()" ng-show="sample.sampleCondition.cond == 'Add New'"><span class="glyphicon glyphicon-plus"></span>  </a>
						<a ng-click="sample.sampleCondition = null; newSampleCond.cond = ''" ng-show="sample.sampleCondition.cond == 'Add New'"><span class="glyphicon glyphicon-remove"></span>  </a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample condition" ng-show="sample.sampleCondition.cond == 'Add New'" class="form-control" ng-model="newSampleCond.cond"/> 
						<select ng-hide="sample.sampleCondition.cond == 'Add New'" required id="sample_group" placeholder="Choose sample condition..." ng-model="sample.sampleCondition" ng-options="cond as cond.cond for cond in sampleConditionList track by cond.idSampleCondition" class="form-control">
					      <option value=""></option>
					    </select>	
					</div>	
				</div> <!-- end col -->
			</div> <!-- end row -->
			<div class="row">

		
		<div class="col-lg-6">
			<div class="form-group">
			  	<label class="control-label" for=""></label>  
				<div class="animate-switch-container" ng-switch on="sampleEditMode">
					<button id="add_sample_button"  class="animate-switch btn btn-primary" ng-switch-when="false" ng-click="addSample(sample)" ng-disabled="sample_form.$invalid">Add</button>
					<button id="save_sample_button" class="animate-switch btn btn-primary" ng-switch-when="true" ng-click="saveSample(sample)" ng-disabled="sample_form.$invalid">Save</button>
					<button id="save_sample_button" class="animate-switch btn btn-warning" ng-click="clearSample()">Clear</button>
					<button id="duplicate_sample_button" class="animate-switch btn btn-success" ng-hide="lastSample==null" ng-click="duplicateSample()">Duplicate</button>
				</div>
			</div> <!-- end col -->
		</div> <!--  end row -->

	</fieldset>
</form>
	


	
	<div class="row well" ng-show="samples.length > 0">
		<div class="col-lg-12">
			<table class="table table-striped table-hover" >
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Type</th>
			            <th>Prep Method</th>
			            <th>Source</th>
			            <th>Condition</th>
			            <th></th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="sample in samples" ng-mouseenter="hideSampleControls(sample)" ng-mouseleave="hideSampleControls(sample)">
			            <td style="width: 25%;">{{sample.name}}</td>
			            <td style="width: 10%;">{{sample.sampleType.idSampleType | lookupSampleType:sampleTypeList}}</td>
			            <td style="width: 15%;">{{sample.samplePrep.idSamplePrep | lookupSamplePrep:samplePrepListAll}}</td>
			            <td style="width: 20%;">{{sample.sampleSource.idSampleSource | lookupSampleSource:sampleSourceList}}</td>
			            <td style="width: 15%;">{{sample.sampleCondition.idSampleCondition | lookupSampleCondition:sampleConditionList}}</td>
			            <td style="width: 15%;">
			               <div ng-show="sample.show">
				               <button class="btn btn-sm btn-primary" ng-click="editSample(sample)" data-toggle="tooltip" data-placement="top" title="edit">
									<span class="glyphicon glyphicon-pencil"></span>
								</button>
				                <button class="btn btn-sm btn-danger" ng-click="removeSample(sample)" data-toggle="tooltip" data-placement="top" title="remove">
				                 	<span class="glyphicon glyphicon-trash"></span>
				                </button>
			               </div> 
			            </td>

			        </tr>
			    </tbody>
			</table>
		
		
		</div> <!-- end col -->
	</div> <!-- end row -->
</div> <!--  end container -->
