<div class="container-fluid">
    <a id="sampleLink"></a>
	<form class="form" name="sample_form">
		<fieldset>
			<div class="row" style="padding-top: 10px;">
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_name">Name</label>  
						<input required id="sample_name" ng-model="sample.name" name="sample_name" placeholder="Sample name..." class="form-control input-sm" required="" type="text" ui-validate="{sample_name_used: 'checkSampleName($value)'}">
						<span ng-show="sample_form.sample_name.$error.sample_name_used" class="label label-danger">Name already used</span>
					</div>
				</div> <!-- end col -->
				
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_type">Type</label>  
						<select width="100" chosen data-placeholder="Select sample type..." required id="sample_type" ng-model="sample.sampleType" ng-options="st as st.type for st in sampleTypeList track by st.idSampleType" class="form-control chosen-select">
							<option value=""></option>
						</select>			
					</div>
				</div> <!-- end col -->
		
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_prep">Prep Method  </label>
						<a ng-click="addNewPrep()" ng-show="sample.samplePrep.description == 'Add New'"><span class="glyphicon glyphicon-plus" tooltip="add sample prep"></span>  </a>
						<a ng-click="sample.samplePrep = null; newSamplePrep.description = ''" ng-show="sample.samplePrep.description == 'Add New'" tooltip="cancel"><span class="glyphicon glyphicon-remove"></span>  </a>
						<a ng-click="deleteSamplePrep(sample.samplePrep.idSamplePrep)" ng-show="!samplePrepUsed && sample.samplePrep.description != 'Add New' && sample.samplePrep.description != null" tooltip="remove unused sample prep"><span class="glyphicon glyphicon-minus"></span></a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample prep description" ng-show="sample.samplePrep.description == 'Add New'" class="form-control input-sm" ng-model="newSamplePrep.description"/>
						<div ng-hide="sample.samplePrep.description == 'Add New'">
							<select width="100" chosen data-placeholder="Select prep method..." required id="sample_prep" ng-model="sample.samplePrep" ng-disabled="!sample.sampleType.idSampleType" 
							ng-options="sp as sp.description for sp in samplePrepList track by sp.idSamplePrep" class="form-control chosen-select" ng-change="checkSamplePrep(sample.samplePrep)">
								<option value=""></option>
						</select>
						
						</div>
									
					</div>
				</div> <!-- end col -->
		
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="site">Source</label>
						<a ng-click="addNewSource()" ng-show="sample.sampleSource.source == 'Add New'"><span class="glyphicon glyphicon-plus" tooltip="add sample source"></span>  </a>
						<a ng-click="sample.sampleSource = null; newSampleSource.source = ''" ng-show="sample.sampleSource.source == 'Add New'" tooltip="cancel"><span class="glyphicon glyphicon-remove"></span>  </a>
						<a ng-click="deleteSampleSource(sample.sampleSource.idSampleSource)" ng-show="!sampleSourceUsed && sample.sampleSource.source != 'Add New' && sample.sampleSource.source != null" tooltip="remove unused sample source"><span class="glyphicon glyphicon-minus"></span></a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample source" ng-show="sample.sampleSource.source == 'Add New'" class="form-control input-sm" ng-model="newSampleSource.source"/>
						<div ng-hide="sample.sampleSource.source == 'Add New'">
							<select width="100" chosen data-placeholder="Select source..." required id="site" ng-model="sample.sampleSource" 
						 	ng-options="source as source.source for source in sampleSourceList track by source.idSampleSource" class="form-control chosen-select" ng-change="checkSampleSource(sample.sampleSource)">
						      <option value=""></option>
						 	</select>
						</div>	 
					</div>
				</div> <!-- end col -->
		
				<div class="col-lg-2">
					<div class="form-group">
						<label class="control-label" for="sample_group">Condition</label> 
						<a ng-click="addNewCondition()" ng-show="sample.sampleCondition.cond == 'Add New'"><span class="glyphicon glyphicon-plus" tooltip="add sample condition"></span>  </a>
						<a ng-click="sample.sampleCondition = null; newSampleCond.cond = ''" ng-show="sample.sampleCondition.cond == 'Add New'" tooltip="cancel"><span class="glyphicon glyphicon-remove"></span>  </a>
						<a ng-click="deleteSampleCondition(sample.sampleCondition.idSampleCondition)" ng-show="!sampleConditionUsed && sample.sampleCondition.cond != 'Add New' && sample.sampleCondition.cond != null" tooltip="remove unused sample condition"><span class="glyphicon glyphicon-minus"></span></a>
						<input style="background-color: LightYellow;" type="text" placeholder="Type in new sample condition" ng-show="sample.sampleCondition.cond == 'Add New'" class="form-control input-sm" ng-model="newSampleCond.cond"/> 
						<div ng-hide="sample.sampleCond.cond == 'Add New'">
							<select chosen width="100" data-placeholder="Select condition..." ng-hide="sample.sampleCondition.cond == 'Add New'" required id="sample_group" ng-model="sample.sampleCondition" 
							ng-options="cond as cond.cond for cond in sampleConditionList track by cond.idSampleCondition" class="form-control chosen-select" ng-change="checkSampleCondition(sample.sampleCondition)">
						      <option value=""></option>
						    </select>
						</div>	
					</div>	
				</div> <!-- end col -->
			</div> <!-- end row -->

		
		<div class="col-lg-6">
			<div class="form-group">
			  	<label class="control-label" for=""></label>  
				<div class="animate-switch-container" ng-switch on="sampleEditMode">
					<button id="add_sample_button"  class="animate-switch btn btn-primary btn-sm" ng-switch-when="false" ng-click="addSample(sample)" ng-disabled="sample_form.$invalid || sample.sampleSource.source == 'Add New' || sample.sampleCondition.cond == 'Add New' || sample.samplePrep.description == 'Add New'">Add</button>
					<button id="save_sample_button" class="animate-switch btn btn-primary btn-sm" ng-switch-when="true" ng-click="saveSample(sample)" ng-disabled="sample_form.$invalid || sample.sampleSource.source == 'Add New' || sample.sampleCondition.cond == 'Add New' || sample.samplePrep.description == 'Add New'">Save</button>
					<button id="save_sample_button" class="animate-switch btn btn-warning btn-sm" ng-click="clearSample()">Clear</button>
					<button id="duplicate_sample_button" class="animate-switch btn btn-success btn-sm" tooltip="Duplicate last entered sample to a new entry" ng-hide="lastSample==null || sampleEditMode" ng-click="duplicateSample()">Duplicate</button>					
				</div>
			</div> <!-- end col -->
		</div> <!--  end row -->

	</fieldset>
</form>
	


	
	<div class="row well" ng-show="samples.length > 0">
		<div class="col-lg-12">
			<table class="table table-striped table-hover" >
			    <thead>
			        <tr>
			            <th>Name</th>
			            <th>Type</th>
			            <th>Prep Method</th>
			            <th>Source</th>
			            <th>Condition</th>
			            <th>Controls</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="sample in samples" ng-mouseenter="showSampleControls(sample)" ng-mouseleave="hideSampleControls(sample)">
			            <td style="width: 25%;">{{sample.name}}</td>
			            <td style="width: 10%;">{{sample.sampleType.idSampleType | lookupSampleType:sampleTypeList}}</td>
			            <td style="width: 15%;">{{sample.samplePrep.idSamplePrep | lookupSamplePrep:samplePrepListAll}}</td>
			            <td style="width: 20%;">{{sample.sampleSource.idSampleSource | lookupSampleSource:sampleSourceList}}</td>
			            <td style="width: 15%;">{{sample.sampleCondition.idSampleCondition | lookupSampleCondition:sampleConditionList}}</td>
			            <td style="width: 100px;">
			               <div ng-show="sample.show">
				               <button class="btn btn-xs btn-primary table-button" ng-click="editSample(sample)" tooltip="edit sample" data-toggle="tooltip" data-placement="top" title="edit">
									<span class="glyphicon glyphicon-edit"></span>
								</button>
								<button class="btn btn-xs btn-success table-button" ng-click="copySample(sample)" tooltip="copy sample" data-toggle="tooltip" data-placement="top" title="copy">
				                 	<span class="glyphicon glyphicon-share"></span>
				                </button>
				                <button class="btn btn-xs btn-danger table-button" ng-click="removeSample(sample)" tooltip="delete sample" data-toggle="tooltip" data-placement="top" title="remove">
				                 	<span class="glyphicon glyphicon-trash"></span>
				                </button>
				                
			               </div> 
			            </td>

			        </tr>
			    </tbody>
			</table>
		
		
		</div> <!-- end col -->
	</div> <!-- end row -->
</div> <!--  end container -->
