<div>
   	<div class="row toolbar" >
  	       <h3>
  	         <span class="glyphicon glyphicon-cloud-upload"></span>
  	         Submit Your Data
  	       </h3>
	       <a ng-disabled="$root.loggedUser == null" ng-click="openNewProjectWindow()"><span class="glyphicon glyphicon-plus"></span> New Submission</a>
		   <a ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
		   <a ng-click="deleteProject()"><span class="glyphicon glyphicon-trash"></span>Delete</a>
		   <input type="text"/>
		   <div class="form-group right">
		    	<select id="species_build" ng-model="project.idGenomeBuild" ng-options="gb.idOrganismBuild as gb.name  group by gb.species for gb in organismBuildList" class="form-control">
		     	</select>
		   </div>
	</div>
		

	 			
	<div class="row">
	     <!-- Sidebar -->
     	<div class="col-lg-2">  
     	
            <div class="panel panel-default">
				<div class="panel-heading">Submissions</div>
	  	   
				
           	 	<div class="panel-body">
					<ul>
				 		<li ng-repeat="project in projects">
				 			<a ng-class="project.cssClass" href="#/submit" ng-click="select(project.idProject)">{{project.name}}</a>
					    </li>
				
					</ul>
				</div>
			</div>
 
     	</div>
     
        <!-- Analysis Project submission form (tabs)  -->
		<div class="col-lg-10" ng-show="project.name">
			
			<div class=" panel panel-default">
			
				<div class="panel-heading">{{project.name}}</div>
				
				<div class="panel-body" style="padding-top: 10px;">
				
					<tabset>
					   <tab heading="1. Describe Project">
							<ng:include src="'app/submit/basicinfo.html'"></ng:include>				
					   </tab>

					   <tab heading="2. Import Data">
							<ng:include src="'app/submit/upload.html'"></ng:include>				
					   </tab>
					   
					   <tab heading="3. Describe Each Analysis" >
							<ng:include src="'app/submit/results.html'"></ng:include>				
					   </tab>
					</tabset>
				</div>
			</div>
		
		</div> 
		
	</div> 
</div>
