<div>
   	<div class="row toolbar">
   			<span class="page-header-bm">
	 	       <span class="glyphicon glyphicon-cloud-upload"></span>
	 	       Submit Your Data
 	       </span>
  	       
	       <a ng-disabled="$root.loggedUser == null" ng-click="openNewProjectWindow()"><span class="glyphicon glyphicon-plus"></span> New Submission</a>
		   <a ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh</a>
		   <a ng-click="deleteProject()"><span class="glyphicon glyphicon-trash"></span> Delete</a>
	</div>
		

	 			
	<div class="row">
	     <!-- Sidebar -->
     	<div class="col-lg-2">  
     	
            <div class="panel panel-default">
				<div class="panel-heading">
					<div class="panel-title">Submissions</div>
				</div>
	  	   
				
           	 	<div style="word-wrap:break-word;" class="panel-body" cg-busy="{promise: dataTrackUploadPromise,message: 'Uploading'}">
					<ul>
				 		<li class="list-group" ng-repeat="project in projects | orderBy: 'name'">
				 			<a ng-class="project.cssClass" href="#/submit" ng-click="select(project.idProject)">
				 			   <span class="glyphicon glyphicon-triangle-right"></span> {{project.name}}</a>
					    </li>
				
					</ul>
				</div>
			</div>
 
     	</div>
     
        <!-- Analysis Project submission form (tabs)  -->
		<div class="col-lg-10" ng-show="project.name">
			
			<div class=" panel panel-default">
			
				<div class="panel-heading" ng-if="canEdit">
				    <div ng-if="canEdit">{{project.name}}</div>
					
				</div>
				<div class="panel-heading" ng-if="!canEdit" style="background-color: #99FF33">
					<div ng-if="!canEdit">{{project.name}} <b>VIEW ONLY</b></div>
				
				</div>
				
				
				<div class="panel-body" style="padding-top: 10px;">
				
					<uib-tabset>
					   <uib-tab heading="1. Edit Project Metadata">
							<ng:include src="'app/submit/basicinfo.html'"></ng:include>				
					   </uib-tab>
					   
					   <uib-tab heading="2. Import Samples into Project">
							<ng:include src="'app/submit/samples.html'"></ng:include>				
					   </uib-tab>
					   
					   <uib-tab heading="3. Import IGV Files into Project">
							<ng:include src="'app/submit/datatracks.html'"></ng:include>				
					   </uib-tab>

					   <uib-tab heading="4. Import Processed Data into Project">
							<ng:include src="'app/submit/upload.html'"></ng:include>				
					   </uib-tab>
					   
					   <uib-tab heading="5. Assemble Project Data into Analyses" select="resultSelected()">
							<ng:include src="'app/submit/results.html'"></ng:include>				
					   </uib-tab>
					</uib-tabset>
				</div>
			</div>
		
		</div> 
		
	</div> 
</div>
