<div class="container-fluid" data-ng-controller="UploadController">
	<div class="row">
	    <span class="section-header">Steps to Import Data <span class="glyphicon glyphicon-question-sign help-button" ng-click="showHelpFileUpload()"></span></span>
	    <div class="row" style="padding-top: 10px; padding-bottom: 10px">
	        <div class="col-lg-12">
		    	<span class="label" 
		    	    ng-class="{'label-primary': files.uploadedFiles.length == 0,'label-success': files.uploadedFiles.length > 0}" > 
		    		Upload Files 
		    	</span>
		    	<span style="margin-right: 2px; margin-left: 7px" 
		    	    class="glyphicon glyphicon-arrow-right" 
		    	    ng-hide="files.uploadedFiles.length == 0">
		    	</span>
		    	<span class="label" 
		    	    ng-hide="files.uploadedFiles.length == 0" 
		    	    ng-class="{'label-primary': !uploadSelected, 'label-success': uploadSelected}"> 
		    	    Select Uploaded Files to Import 
		    	</span>
		    	<span style="margin-right: 2px; margin-left: 7px"
		    	    ng-hide="!uploadSelected || files.uploadedFiles.length==0" 
		    	    class="glyphicon glyphicon-arrow-right">
		    	</span>
		    	<span class="label"
		    	    ng-hide="!uploadSelected || files.uploadedFiles.length==0"
		    	    ng-class="{'label-primary': selectedAnalysisType==null, 'label-success': selectedAnalysisType != null}">
		    	    Select Analysis Type 
		    	</span>
		    	<span style="margin-right: 2px; margin-left: 7px" 
		    	    class="glyphicon glyphicon-arrow-right"
		    	    ng-hide="selectedAnalysisType==null || !uploadSelected || files.uploadedFiles.length==0">
		    	</span>
		    	<span class="label"
		    		ng-hide="selectedAnalysisType==null || !uploadSelected || files.uploadedFiles.length==0"
		    		ng-class="{'label-primary': !importStarted, 'label-success': importStarted}"> 
		    	    Click Import Button 
		    	</span>
		    	<span style="margin-right: 2px; margin-left: 7px" 
		    	    class="glyphicon glyphicon-arrow-right"
		    	    ng-hide="selectedAnalysisType==null || !uploadSelected || files.uploadedFiles.length==0 || !importStarted || !importFinished ">
		    	</span>
		    	<span class="label"
		    		ng-hide="selectedAnalysisType==null || !uploadSelected || files.uploadedFiles.length==0 || !importStarted || !importFinished "
		    		ng-class="{'label-primary': !importFinished, 'label-success': importFinished}"> 
		    	    Finished!
		    	</span>
	        </div>
	    </div>
	    <span class="section-header">Import Processed Data into Project</span>
	    <div class="row" style="padding-top: 10px; padding-bottom: 10px">
			<div class="col-lg-4">
				<span class="btn btn-primary fileinput-button btn-sm"  ng-class="{disabled: disabled}" ng-hide="uploadingFiles || importingFiles" ng-disabled="!canEdit">
			        <i class="glyphicon glyphicon-upload"></i>
			        <span>Upload</span>
			        <input type="file" ng-file-select ng-file-change="onFileSelect($files)" multiple>            
			    </span>
			    <span class="btn btn-danger fileinput-button btn-sm"  ng-class="{disabled: disabled}" ng-show="uploadingFiles" ng-click="cancelUpload()">
			        <i class="glyphicon glyphicon-remove-sign"></i>
			        <span>Cancel</span>            
			    </span>
			    <span  ng-hide="importingFiles || uploadingFiles">
				    <select width="40" data-placeholder="Choose analysis type..." ng-disabled="uploadSelected==false"  ng-model="selectedAnalysisType" chosen class="form-control chosen-select" ng-options="at as at.type for at in analysisTypeList">
						<option value="">Select Analysis Type</option>
					</select>
			    </span>
				<button class="btn btn-primary btn-sm" tootip="Select files you want to import from the upload section and select analysis type" data-ng-click="parse()" ng-disabled="selectedAnalysisType==null || !uploadSelected || !canEdit" ng-hide="importingFiles || uploadingFiles">
				     <span class="glyphicon glyphicon-tasks"></span> Import
			    </button>
			    <span class="btn btn-danger fileinput-button btn-sm"  ng-class="{disabled: disabled}" ng-show="importingFiles" ng-click="cancelImport()">
			        <i class="glyphicon glyphicon-remove-sign"></i>
			        <span>Cancel</span>            
			    </span>
			    
			</div>
		
			    
			<div class="col-lg-6" >
	              <span ng-show="complete > 0 && complete < 100">Uploading files....{{complete | number:0}}%</span>
	              <div class="progress progress-striped active" ng-show="complete > 0 && complete < 100"><div class="progress-bar progress-bar-info" data-ng-style="{width: complete + '%'}"></div></div>
	        </div>
	     </div>
	</div>
	<div class="row" cg-busy="{promise:uploadPromise,message:'Uploading Files',minDuration: 1000}">
		<div cg-busy="{promise:importPromise,message:'Importing Files',minDuration: 1000}">
			<table class="table table-condensed table-striped" ng-show="files.uploadedFiles.length > 0">
			    <thead>
			        <tr>
			            <th><input type="checkbox" ng-model="selectAllUpload" data-ng-click="clickSelected(files.uploadedFiles)"/></th>
			            <th width="30%" ng-click="uploadOrderByField='name';uploadReverseSort=!uploadReverseSort">Name</th>
			            <th ng-click="uploadOrderByField='size';uploadReverseSort=!uploadReverseSort">Size</th>
			            <th ng-hide="uploadingFiles" ng-click="uploadOrderByField='state';uploadReverseSort=!uploadReverseSort">Upload Controls</th>
			            <th ng-show="uploadingFiles">Progress</th>
			            <th ng-show="files.importedFiles.length > 0">Imported Files</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="file in files.uploadedFiles | orderBy:uploadOrderByField:uploadReverseSort" ng-mouseenter="showUploadControls(file)" ng-mouseleave="hideUploadControls(file)">
			            <td > <input type="checkbox" ng-model="file.selected"/></td>
			            <td class="nowrap-ellipsis"><span popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" uib-popover="{{file.name}}"><a target="_self" ng-href="submit/upload/get?file={{file.name}}&type=UPLOADED&idProject={{projectId}}">{{file.name}}</a></td>
			            <td >{{file.size | bytes}}</td>
			            <td >
			            	<div ng-show="file.show || file.state != 'SUCCESS'">
			               		 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="file.state=='FAILURE'" 
			               		 ng-click="showErrorMessage('Upload Error','<p>Error while uploading the file:  <strong>' + file.name + '</strong>. 
			               		 The upload failed with the message(s):</p><p><strong>' + file.message + '</strong></p>
			               		 <p>If you do not delete the upload now, it will be deleted for you when you exit the page, start a new upload/import or exit Biominer.  
			               		 Please note that the file cannot be imported into Biominer in this state.</p>')">
				                 	<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
				                 </button>
				                 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="file.state=='WARNING'" 
				                 ng-click="showWarningMessage('Upload Warning','<p>Warning while uploading the file:  <strong>' + file.name + '</strong>.  
				                 The upload exited with the message(s): </p><p><strong>' + file.message + '</strong></p>')">
				                 	<span class="glyphicon glyphicon glyphicon-question-sign"></span>
				                 </button>
				                 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="file.state=='INCOMPLETE' && !uploadingFiles" 
				                 ng-click="showErrorMessage('Missing File','<p>There is no file on the server associated with this database entry. 
				                 If you do not delete the upload now, it will be deleted for you when you exit the page, start a new upload/import or exit Biominer.  
				                 Please note that the file cannot be imported into Biominer in this state.</p>')">
				                 	<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
				                 </button>
				         
				                 <button class="btn btn-xs btn-danger table-button" ng-disabled="!canEdit" ng-hide="file.state=='INCOMPLETE' && uploadingFiles" ng-click="deleteFileUpload(file)" data-toggle="tooltip" data-placement="top" title="remove">
				                 	<span class="glyphicon glyphicon-trash"></span>
				                 </button>
			                </div>
			            
			            	<div class="progress progress-striped active" ng-show="uploadingFiles && file.complete > 0 && file.complete < 100">
		          				<div class="progress-bar progress-bar-info" data-ng-style="{width: file.complete + '%'}"></div>
		          			</div>
			          	</td>
			            <td width="60%" ng-show="files.importedFiles.length > 0">
						    <table class="table table-condensed inner-table" ng-show="displayTable(file)">
							    <thead>
							        <tr>
							            <th width="50%">Name</th>
							            <th width="15%">Size</th>
							            <th width="15%" ng-hide="importingFiles">Import Controls</th>
							            <th width="15%" ng-show="importingFiles">Parsing Status</th>
							        </tr>
							    </thead>
							    <tbody>
							        <tr ng-repeat="ifile in files.importedFiles | filter:filterImports(file)" ng-mouseenter="showImportControls(ifile)" ng-mouseleave="hideImportControls(ifile)">
							            <td class="nowrap-ellipsis"><span popover-trigger="'mouseenter'" popover-placement="top-left" popover-popup-delay="500" uib-popover="{{ifile.name}}"><a target="_self" ng-href="submit/upload/get?file={{ifile.name}}&type=IMPORTED&idProject={{projectId}}">{{ifile.name}}</a></td>
							            <td>{{ifile.size | bytes}}</td>
							            <td >
								          	<div ng-show="ifile.show || ifile.state == 'INCOMPLETE' || ifile.state == 'FAILURE'">
					               		 		 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="ifile.state=='FAILURE' && !importingFiles" 
					               		 		 ng-click="showErrorMessage('Import Error','<p>Error while importing the file:  <strong>' + ifile.name + '</strong>. 
					               		 		 The import failed with the message(s): </p><p><strong>' + ifile.message + '</strong></p><p>
					               		 		 If you do not delete the import now, it will be deleted for you when you exit the page, start a new upload/import or exit Biominer.  
					               		 		 Please note that the file cannot be assigned to an analysis in this state.</p>')">
								                 	<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
								                 </button>
								                 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="ifile.state=='WARNING' && !importingFiles" ng-click="showWarningMessage('Import Warning',
								                 '<p>Warning while importing the file:  <strong>' + ifile.name + '</strong>.  The upload exited with the message: </p>
								                 <p><strong>' + ifile.message + '</strong></p>')">
								                 	<span class="glyphicon glyphicon glyphicon-question-sign"></span>
								                 </button>
								                 <button class="btn btn-xs btn-warning table-button" ng-disabled="!canEdit" ng-show="ifile.state=='INCOMPLETE' && !importingFiles" 
								                 ng-click="showErrorMessage('Missing File','There is no file on the server associated with this database entry. 
								                 If you do not delete the import now, it will be deleted for you when you exit the page, start a new upload/import or exit Biominer.  
								                 Please note that the file cannot be assigned to an analysis in this state.')">
								                 	<span class="glyphicon glyphicon glyphicon-exclamation-sign"></span>
								                 </button>
								         
								                 <button class="btn btn-xs btn-danger table-button" ng-disabled="!canEdit" ng-show="!importingFiles" ng-click="deleteFileUpload(ifile)" data-toggle="tooltip" data-placement="top" title="remove">
								                 	<span class="glyphicon glyphicon-trash"></span>
								                 </button>
				                			</div>
				                			
				                			<div class="progress progress-striped active" ng-show="importingFiles && ifile.complete == 50">
		          								<div class="progress-bar progress-bar-info" style="width: 100%"></div>
		          							</div>
		          							<div class="progress" ng-show="importingFiles && ifile.complete== 100">
		          								<div class="progress-bar progress-bar-success" style="width: 100%"></div>
		          							</div>
		          							<div class="progress" ng-show="importingFiles && ifile.complete==0">
		          								<div class="progress-bar progress-bar-danger" style="width: 100%"></div>
		          							</div>
			                			</td>
							        </tr>
							    </tbody>
							</table>
			            </td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div> <!-- end row -->
</div> <!--  end container -->

