<div class="container-fluid" data-ng-controller="UploadController">
	<div class="row">
	    <span class="section-header">Upload Files</span>
		<div class="col-lg-7">
			<span class="btn btn-success fileinput-button btn-sm"  ng-class="{disabled: disabled}">
		        <i class="glyphicon glyphicon-upload"></i>
		        <span>Upload</span>
		        <input type="file" ng-file-select="onFileSelect($files)" multiple>            
		    </span>
		</div>
		
		<div class="col-lg-5" >
              <span ng-show="complete > 0 && complete < 100">Uploading files....{{complete | number }}%</span>
              <div class="progress progress-striped active" ng-show="complete > 0 && complete < 100"><div class="progress-bar progress-bar-info" data-ng-style="{width: complete + '%'}"></div></div>
        </div>
	</div>
	<div class="row">
			<table class="table table-striped table-hover" ng-show="files.uploadedFiles.length > 0">
			    <thead>
			        <tr>
			            <th><input type="checkbox" ng-model="selectAllUpload" data-ng-click="clickSelected(files.uploadedFiles,selectAllUpload)"/></th>
			            <th>Name</th>
			            <th>Size</th>
			            <th>Upload status</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="file in files.uploadedFiles">
			            <td width="10%"> <input type="checkbox" ng-model="file.selected"/></td>
			            <td width="50%"><a target="_self" ng-href="submit/upload/get?file={{file.name}}&type=UPLOADED&idProject={{projectId}}">{{file.name}}</a></td>
			            <td width="15%">{{file.size | bytes}}</td>
			            
			          	<td width="15%"ng-switch on="file.state">
			          		
		          			<div class="progress progress-striped active" ng-switch-when="started">
		          				<div class="progress-bar progress-bar-info" data-ng-style="{width: file.complete + '%'}"></div>
		          			</div>
			          		
			          		<span class="label-success label" ng-switch-when="SUCCESS">
			          			<span class="glyphicon glyphicon-ok-sign"></span>
			          		</span>
			          		
			          		<span class="label-warning label" ng-switch-when="WARNING" ng-click="showWarningMessage('Warning while parsing ' + file.name,file.message)">
			          			<span class="glyphicon glyphicon-info-sign"></span>
			          		</span>
			          		
			          		<span class="label-danger label" ng-switch-default ng-click="showErrorMessage('Error while parsing ' + file.name,file.message)">
			          			<span class="glyphicon glyphicon-remove-sign"></span>
			          		</span>
			          		
			          		<span class="label-warning label" ng-switch-when="pending">
			          			<span class="glyphicon glyphicon-trash"></span>
			          		</span>
			          		
			          	</td>
			        </tr>
			    </tbody>
			</table>
	</div> <!-- end row -->
	<div class="row">
        <div class="col-lg-3">
        	<button class="btn btn-danger" data-ng-click="deleteSelected(files.uploadedFiles,'UPLOADED')" ng-show="uploadSelected">
         		<span class="glyphicon glyphicon-fire"></span> Delete
         	</button>
        </div>
	</div>
	<div class="row">
		<span class="section-header" >Import Files</span>
		
	    <div class="col-lg-2">
		    <button class="btn btn-primary btn-sm" tootip="Select files you want to import from the upload section and select analysis type" data-ng-click="parse()" ng-disabled="selectedAnalysisType==null || !uploadSelected">
	           <span class="glyphicon glyphicon-tasks"></span> Import
         	</button>
	    </div>
		<div class="col-lg-2">
	  		<select width="100" data-placeholder="Choose analysis type..." ng-model="selectedAnalysisType" chosen class="form-control chosen-select" ng-options="at as at.type for at in analysisTypeList">
	  			<option value="">Select Analysis Type</option>
	  		</select>
	  	</div>
		
	</div>
	
	<div class="row">
			<table class="table table-striped table-hover" ng-show="files.importedFiles.length > 0">
			    <thead>
			        <tr>
			            <th width="10%"><input type="checkbox" ng-model="selectAllParse" data-ng-click="clickSelected(files.importedFiles,selectAllParse)"/></th>
			            <th width="50%">Name</th>
			            <th width="15%">Size</th>
			            <th width="15%">Import Status</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="file in files.importedFiles">
			            <td> <input type="checkbox" ng-model="file.selected"/></td>
			            <td><a target="_self" ng-href="submit/upload/get?file={{file.name}}&type=IMPORTED&idProject={{projectId}}">{{file.name}}</a></td>
			            <td>{{file.size | bytes}}</td>
			            
			          	<td ng-switch on="file.state">
			          		
			          		
			          		<span class="label-success label" ng-switch-when="SUCCESS">
			          			<span class="glyphicon glyphicon-ok-sign"></span>
			          		</span>
			          		
			          		<span class="label-warning label" ng-switch-when="WARNING" ng-click="showWarningMessage('Warning while parsing ' + file.name,file.message)">
			          			<span class="glyphicon glyphicon-info-sign"></span>
			          		</span>
			          		
			          		<span class="label-danger label" ng-switch-default ng-click="showErrorMessage('Error while parsing ' + file.name,file.message)">
			          			<span class="glyphicon glyphicon-remove-sign"></span>
			          		</span>
			          		
			          		<span class="label-info label" ng-switch-when="started">
			          			<span class="glyphicon glyphicon-time"></span>
			          		</span>
			          		
			          	</td>
			        </tr>
			    </tbody>
			</table>
	</div> <!-- end row -->	
	<div>
		<button class="btn btn-danger btn-sm" data-ng-click="deleteSelected(files.importedFiles,'IMPORTED')" ng-show="importedSelected">
        	<span class="glyphicon glyphicon-fire"></span> Delete
        </button>
    </div>
</div> <!--  end container -->

