<!DOCTYPE HTML>
<!--
/*
 * BioMiner - This is the main html.  Note that this is an AngularJS application.
 *            reside in app directory. The app directory is organized by
 *            modules.  Each subdirectory under app represents a module.  Within each
 *            module subdirectory you will find the javascript files for Controllers,
 *            directives, filters, services, etc. along with the html files.
 *
 * Copyright 2014
 *
 */
-->
<html lang="en" data-ng-app="app">

<head>
<!-- Force latest IE rendering engine or ChromeFrame if installed -->
<!--[if IE]>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<![endif]-->
<meta charset="utf-8">

<title>BioMiner Query Tool</title>



<meta name="description" content="File Upload widget with multiple file selection, drag&amp;drop support, progress bars, validation and preview images, audio and video for AngularJS. Supports cross-domain, chunked and resumable file uploads and client-side image resizing. Works with any server-side platform (PHP, Python, Ruby on Rails, Java, Node.js, Go etc.) that supports standard HTML form file uploads.">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='http://fonts.googleapis.com/css?family=Raleway:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


<link rel="stylesheet" href="resources/css/jquery.fileupload.css">
<link rel="stylesheet" href="resources/css/jquery.fileupload-ui.css">
<link rel="stylesheet" href="resources/css/chosen.css">
<link rel="stylesheet" href="resources/css/biominer.css">
<link rel="stylesheet" href="resources/css/chosen-bootstrap.css">
<link rel="stylesheet" href="resources/css/angucomplete.css">

<noscript><link rel="stylesheet" href="resources/css/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="resources/css/jquery.fileupload-ui-noscript.css"></noscript>

</head>

<body>

	<nav  class="navbar navbar-default navbar-fixed-top" role="navigation">
	   <div class="container-fluid" ng-controller="NavbarController">
	      <!-- Brand and toggle get grouped for better mobile display -->
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <a class="navbar-brand" href="index.html"><img src="resources/images/biominer_blue.png"/> BioMiner</a>
	      </div>
	
	      <!-- Collect the nav links, forms, and other content for toggling -->
	      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	          <ul class="nav navbar-nav">
	          
	    	    <li><a href="#/query" ><span class="glyphicon glyphicon-zoom-in"></span> Query</a></li>
	    	    <li><a href="#/submit"><span class="glyphicon glyphicon-cloud-upload"></span> Submit Your Data</a></li>
	        	<li><a href="#/useradmin" ng-hide="!admin"><span class="glyphicon glyphicon-cog"></span> Admin</a></li>
	            
	          </ul>
	          <div class="nav navbar-nav navbar-right">
		        <ul class="nav navbar-nav">
		          <li><a ng-hide="$root.loggedUser != null" href="#/login">Login</a></li>
		          <li><a href="" ng-hide="$root.loggedUser == null">{{$root.loggedUser.username}}</a></li>
		          <li><a href="" ng-show="$root.loggedUser != null" ng-click="logout()">Logout</a></li>
		          <li><a href="" ng-click="displayHelp()">Help</a></li>
		        </ul>
	          </div>
	       </div> <!-- /.navbar-collapse -->
	    </div> <!-- /.container-fluid -->
	</nav>
	
	<!-- This is filled in with the appropriate html view based on the AngularJS routing in app.js -->
  	<div class="container-fluid" data-ng-view></div>



<!--  Angular upload (two files, this one is loaded before angular.js -->
<script src="resources/js/angular-file-upload-shim.min.js"></script>

<!--  Angular libraries -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-resource.min.js"></script>



<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js"></script>

<!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="resources/js/ui-bootstrap-tpls-0.10.0.min.js"></script>

<!-- The File Upload Angular JS module -->
<script src="resources/js/jquery.fileupload-angular.js"></script>
<!-- Angular JS UI.Utils.  Does cool things like masking -->
<script src="resources/js/ui-utils.js"></script>
<!-- Chosen JQuery stuff -->
<script src="resources/js/chosen.jquery.js"></script>
<script src="resources/js/chosen.js"></script>
<!--  autocomplete  -->
<script src="resources/js/angucomplete.js"></script>

<!-- Angular upload (two files, this one is loaded after angular.js -->
<script src="resources/js/angular-file-upload.min.js"></script>


<script src="app/app.js"></script>
<script src="app/common/filters.js"></script>
<script src="app/common/directives.js"></script>
<script src="app/common/services.js"></script>
<script src="app/common/ConfirmationController.js"></script>
<script src="app/common/ErrorController.js"></script>
<script src="app/common/LoginController.js"></script>
<script src="app/common/NavbarController.js"></script>
<script src="app/submit/SubmitController.js"></script>
<script src="app/submit/ProjectWindowController.js"></script>
<script src="app/submit/UploadController.js"></script>
<script src="app/submit/PreviewWindowController.js"></script>
<script src="app/submit/FilenameEditorController.js"></script>
<script src="app/query/QueryController.js"></script>
<script src="app/dashboard/DashboardController.js"></script>
<script src="app/useradmin/UserAdminController.js"></script>
<script src="app/useradmin/UserController.js"></script>
<script src="app/useradmin/LabController.js"></script>
<script src="app/useradmin/OrganismController.js"></script>
<script src="app/useradmin/OrganismBuildController.js"></script>
<script src="app/useradmin/AnnotationPreviewController.js"></script>



</body> 
</html>
